input[type=text], select{
    width: 95%;
    padding: 9px;
    margin: 6px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #eae5e5 !important;
    
}

input[type=submit] {
    background-color: #dcc2c2;
    color: black;
    padding: 12px 107px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 96%;
    margin: 12px 0 16px 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.select2-container { 
    width : 450px !important;
}

.select2-search__field {
    width : 450px !important;
}

.select2-selection--multiple {
    border-radius: 10px !important;
    margin: 6px 0 0px 0 !important;
    background-color: #eae5e5 !important;
}

.select2-selection__rendered {
    line-height: 33px !important;
}
