.span_align {
    font-size: 18px;
    padding-left: 278px;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 144px;
    padding-left: 60px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,1); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

iframe {
    width:100%;
    height:100%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background: darkseagreen;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    height: 55%;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float:right;
    font-size: 17px;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
