.table-all th:hover, img:hover {
    cursor: pointer;
    color: blue;
}

img {
    width: 23px;
    height: 15px;
}

.table-all input[type=text] {
    height: 27px !important;
    width: 250px !important;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 12px;
}

.headings {
    text-align: center;
    padding: 13px 0px;
    background-color: #4CAF50; 
    font-weight: bold;
}

.show {
    display: "";
}

.hide {
    display: none;
}
