.container-all {
    padding-bottom: 537px !important;
}

.container {
    padding-bottom: 570px !important;
}

.table-all {
    width : 100%;
}
.table-position {
    width : 82.3%;
    position: fixed;
}

.table-all th {
    text-align: center;
    padding: 13px 0px;
    background-color: #4CAF50;
    max-width: 110px; 
}

.table-all td {
    text-align: center;
    padding: 13px 0px;
    border-bottom: 1px solid rgb(152, 216, 216);
    max-width: 110px;
}


.table-all tr:nth-child(odd){
background-color: rgba(78, 216, 127, 0.35);
}

.table-all tr:hover {
    background-color: rgba(161, 169, 169, 0.59);
}

a {
    color:blue;
    text-decoration: none;
}

a:hover {
    color:red;
}

.column_title {
    text-align: center;
    padding: 13px 32px !important;
    background-color: #4CAF50; 
    font-weight: bold;
}

.truncate_col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.truncate_col:hover{
    text-overflow: ;
    overflow: visible;
}*/

.label {
    font-size: 18px;
}

.assign_button {
    float: right;
    padding-right: 30px;
    font-size: 18px;
}

/*body {
       width: 100%;
       height:100%;
       overflow:hidden;
       background:
           linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 255, 255, 0.3)),
           url('/MANAGEMENT/images/yellow.jpg')
           50% 50% no-repeat;
       background-blend-mode: luminosity;
       background-size: cover;  
   } */
